/* GENERAL STYLIING */

:root {
  --color-primary: #64b4c5;
  --color-primary-darker: #50909e;
  --color-primary-lighter: #93cbd6;
  --color-secondary: #0a0a0a;
  --color-tertiary: #ffd60a;
  --color-tertiary--2: #ffd700;
  --color-background: #fafff7;
  --color-ui-background: #e3fafc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  line-height: 1.9;
  transition: all 1s;
}
h1 {
  font-weight: 6rem;
}
p {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--color-secondary);
  transition: all 1s;
}

a {
  text-decoration: none;
}

.margin-bottom--none {
  margin-bottom: 0;
}

.grid--center-items {
  justify-items: center;
}

.container {
  max-width: 120rem;
  padding: 1.4rem 3.2rem;
  margin: 0 auto;
}

.img {
  width: 100%;
  opacity: 0.8;
  /* border-radius: 6px; */
}

.section {
  /* margin: 12rem 0; */
  padding: 9.6rem 0;
  /* padding: 0 0 9.6rem 0; */
}

.section__header {
  /* padding: 2rem 20rem 2rem 20rem; */

  background-color: #e3fafc;
  margin-bottom: 9.6rem;
}

.section__header-title {
  font-size: 4.4rem;
  color: var(--color-primary-darker);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.section__header-description {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 1;
}

.section__main {
  /* padding: 8rem 8rem 4rem 8rem; */
}

.shadow {
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.3);
}
.shadow-2 {
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.2);
}
.shadow-1 {
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.1);
}
.about-us--text {
  width: 100%;
  margin: 0 auto;
}
.aligning {
  width: 100%;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.grid {
  display: grid;
  /* column-gap: 9.6rem;
  row-gap: 8.4rem; */
  gap: 6.4rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.autofit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
  align-items: center;
}

.autofit-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 14rem;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  cursor: pointer;
}

.search__fade-in {
  transform: translateY(-4rem);
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.fade {
  opacity: 0;
  transform: translateY(8rem);
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(8rem);
}

.text-in {
  transform: translateY(-4rem);
  height: 0;
  opacity: 0;
}

.nav__handler {
  position: fixed;
  top: 3rem;
  left: 3rem;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  z-index: 101;
  border-radius: 20px;
  font-size: 1.8rem;
  padding: 1.5rem 2.4rem;
  opacity: 0.9;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}

.nav__hide {
  transform: translateY(-20rem);
  opacity: 0;
  height: 0px;
  visibility: hidden;
}

.nav__fixed {
  position: fixed;

  top: 0;
  z-index: 90;
  background: linear-gradient(#f4f4f5, #fafafa, #f4f4f5);
  width: 100%;
}

/* HEADER */

.nav__bar {
  padding: 1rem 8rem 1rem 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;

  max-width: 100%;
  transition: all 1s;
  margin: 0 auto;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.nav__item {
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--color-ui-background);
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1.2rem 2.8rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-ui-background);
  background-color: var(--color-primary-darker);
}

.logo {
  width: 8rem;
  cursor: pointer;
}

.header {
  background: linear-gradient(#f4f4f5, #fafafa, #f4f4f5);
  padding-bottom: 4.8rem;
}

/* SEARCH BAR */

.account__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-icon {
  width: 3rem;
  height: 3rem;
  stroke: var(--color-primary);
  cursor: pointer;
  stroke-width: 2.2;
}
.wishlist-icon {
  width: 3rem;
  height: 3rem;
  stroke: var(--color-primary);
  cursor: pointer;
  stroke-width: 2.2;
}
.cart-icon {
  width: 3rem;
  height: 3rem;
  stroke: var(--color-primary);
  cursor: pointer;
  stroke-width: 2.2;
}

.search-icon:hover {
  fill: var(--color-primary);
}
.wishlist-icon:hover {
  fill: var(--color-primary);
}
.cart-icon:hover {
  fill: var(--color-primary);
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 11%;
  width: 100%;
  padding: 0 16rem;
  background-color: #fff;
  transition: all 1s;
  z-index: 100;
}

.search-input {
  background: none;
  border: none;
  width: 100%;
  height: 40%;
  padding: 0 3rem;
  font-size: 1.8rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search__bar-close {
  background: none;
  border: none;
  margin-left: auto;
  transition: all 0.6s;
  cursor: pointer;
  font-size: 1.6rem;
}

.search__bar-close:hover {
  transform: rotate(90deg);
}

.search__result {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 11%;
  z-index: 100;
  width: 100%;
}

.search__result-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.search__result-title {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  padding: 0 16rem;
}

.search__result-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  /* transform: scale(0.8); */
  overflow: hidden;

  background-color: #fff;
  box-shadow: none;
  height: 70rem;
  /* height: 50rem; */

  /* width: 100%;
  height: 40rem;
  margin: 8rem auto;
  position: relative;
  border-radius: 12px;
   */
}

.search__product {
  flex-shrink: 0;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.05);
  /* transform: scale(0.8); */
}

.search__product-S {
  position: absolute;
  top: 10%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* BESTSELLER SLIDER */

.slider__btn {
  position: absolute;

  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  background: none;
  color: var(--color-primary);
  font-size: 14rem;
  cursor: pointer;
  transition: all 0.3s;
}

.slider__btn-top {
  top: 50%;
}
.slider__btn-bottom {
  bottom: 0;
}

.slider__btn:hover {
  color: var(--color-primary-darker);
}

.slider__btn-left {
  left: 0;
  transform: translate(-100%, -50%);
}
.slider__btn-right {
  right: 0;
  transform: translate(100%, -50%);
}

.dots {
  background: var(--color-ui-background);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 10%);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 50px;
  backdrop-filter: blur(20px);
}

.dot {
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.dot:hover {
  background-color: var(--color-primary-darker);
}

/* FOOTER */

.footer {
  max-width: 100%;

  background: linear-gradient(to top left, #e6e6e6, #fff, #e6e6e6);
}

.footer__header {
  padding: 8rem 2rem 2rem 2rem;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 20rem;
}

.newsletter__box {
  justify-self: center;
}

.newsletter__title {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  color: #64b4c5;
}

.newsletter__input {
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  border: none;
  background-color: #e3fafc;
  color: #cfc7bd;
  font-size: 1.4rem;
}

.newsletter__submit {
  margin-left: 2rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  cursor: pointer;
  transition: all 0.3s;
}

.newsletter__submit:hover {
  background-color: var(--color-primary-darker);
  color: var(--color-ui-background);
}

.footer__links {
  padding: 6rem 2rem 8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 30rem;
}

.footer__list-title {
  font-size: 2.8rem;
  font-weight: 500;
  color: #64b4c5;
}

.footer__list-item {
  font-size: 1.4rem;
  cursor: pointer;
}

/* MODALS */

.error {
  display: inline-block;
  padding: 2rem 2rem;

  border-radius: 4px;
  transition: all 1s;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.2);
}

.error__title {
  font-size: 1.8rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  backdrop-filter: blur(4px);
  transition: all 0.5s;
}

.modal {
  background-color: #fff;
  width: 50rem;

  border-radius: 12px;
  display: flex;
  flex-direction: column;

  border: none;
  outline: none;
  padding: 2rem 3rem;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: all 0.5s;
}

.contact__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__form input {
  width: 100%;

  border: none;
  border-bottom: 1px solid #333;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.contact__title {
  font-size: 3.2rem;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}

#message {
  flex: 1;

  padding: 2rem 3rem;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  border: none;
  width: 100%;
  height: 60%;
}

.contact__form > * {
  border: none;
  outline: none;
}

.close__modal {
  font-size: 3rem;
  text-align: right;
  cursor: pointer;
}

.contact__submit {
  margin-top: auto;
  height: 4rem;
  border-radius: 9px;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  cursor: pointer;
  padding: 0.8rem 0;
}

.modal__error {
  font-size: 2.6rem;
  color: red;
}

.form__ok {
  font-size: 2.6rem;
}
/* MEDIA QUERIES */

@media (max-width: 576px) {
  .search__bar {
    padding: 2rem;
  }

  .search__result-list > .search__product-S {
    top: 0;
  }

  .search__result-content > .slider__btn-left {
    transform: translate(-40%, -200%) !important;
  }
  .search__result-content > .slider__btn-right {
    transform: translate(40%, -200%) !important;
  }

  .modal {
    width: 80%;
  }

  .modal > .contact__form {
    height: 100%;
  }

  .modal > .contact__title {
    margin-bottom: 0;
  }

  .modal > .contact__form > #message {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .search__bar {
    padding: 4rem;
    max-width: 100%;
  }
  .search-input {
    height: 3rem;
  }

  .search__result-title {
    padding: 0 3rem;
    margin: 0;
  }

  .search__result-list {
    margin-top: -6rem;
    height: 100% !important;
  }

  .search__result-content {
    height: 70rem;
  }

  .search__result-list > .search__product-S {
    top: 0;
  }
  /* .search__result-content > .slider__btn-left {
    transform: translate(-30%, -20%) !important;
  }
  .search__result-content > .slider__btn-right {
    transform: translate(30%, -20%) !important;
  } */

  .search__result-content > .slider__btn-left {
    transform: translateX(-30%) !important;
  }
  .search__result-content > .slider__btn-right {
    transform: translateX(30%) !important;
  }
}
