/* GENERAL STYLING */

:root {
  --color-primary: #64b4c5;
  --color-primary-darker: #50909e;
  --color-primary-lighter: #93cbd6;
  --color-secondary: #0a0a0a;
  --color-tertiary: #ffd60a;
  --color-background: #fafff7;
  --color-ui-background: #e3fafc;
}

.body {
  display: relative;
}

.header {
  padding: 0;
}

.img {
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s;
}

.product__page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  margin: 8rem 0;
}

/* Modal */

.gallery__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-ui-background);
  border-radius: 4px;
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.close__modal {
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 2;
  font-size: 2rem;
  border: 1px solid #333;
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  opacity: 0.4;
  cursor: pointer;
}

.img__modal {
  width: 100%;
  transform: scale(1.2);
}

/* Presentation */

.product__page-presentation {
  width: 50%;
  margin: 0 auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
  margin-top: 1.4rem;
}

.gallery-highlight {
  transform: scale(1.2);
}

.gallery__container {
  overflow: hidden;
  border-radius: 6px;
}

/* Information */

.product__page-information {
  margin: 0 auto;
  max-width: 70%;
}

.product__page-title {
  font-size: 6.4rem;
  line-height: 1;
  letter-spacing: -3px;
  color: var(--color-primary-darker);
  margin-bottom: 1rem;
}

.product__page-subtitle {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 3rem;
  color: var(--color-primary);
}

.review__system-title {
  font-size: 2.8rem;
  color: var(--color-primary);
}

.review__ratings {
  font-size: 2.2rem;
  color: var(--color-primary-lighter);
}

.stars {
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
}

.product__page-price {
  font-size: 3.2rem;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--color-primary-darker);
}

.product__page-cta {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  row-gap: 1.5rem;
  align-items: center;
}

.quantity__input {
  text-align: center;
}

.cta-input {
  font-size: 2rem;
  height: 2.5rem;
  border: none;
  text-align: center;
}

.quantity__decrement,
.quantity__increment {
  padding: 0 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  cursor: pointer;
}
.quatity__number {
  width: 4rem;
  background-color: var(--color-ui-background);
}

.quantity__decrement {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.quantity__increment {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.cta-btn {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  padding: 0.5rem 0;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  outline: 1px solid var(--color-ui-background);
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.cta-btn:hover {
  background-color: var(--color-primary-darker);
}

.cta-btn:active {
  background-color: var(--color-primary-lighter);
}

.buy {
  grid-column: 1/-1;
}

.product__page-benefits {
  margin-top: 4rem;
  font-size: 2.4rem;
  list-style: none;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  outline: 4px solid var(--color-ui-background);
  padding: 2rem;
  border-radius: 9px;
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.2);
}

.product__page-benefits > li {
  margin-bottom: 1rem;
}

@media (max-width: 760px) {
  .product__page-grid {
    grid-template-columns: 1fr;
  }
}
