/* GENERAL STYLING */

:root {
  --color-primary: #64b4c5;
  --color-primary-darker: #50909e;
  --color-primary-lighter: #93cbd6;
  --color-secondary: #0a0a0a;
  --color-tertiary: #ffd60a;
  --color-background: #fafff7;
  --color-ui-background: #e3fafc;
}

.body {
  display: relative;
}

.header {
  padding: 0;
}

.img {
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s;
}

.product__page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  margin: 8rem 0;
}

/* Modal */

.gallery__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-ui-background);
  border-radius: 4px;
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.close__modal {
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 2;
  font-size: 2rem;
  border: 1px solid #333;
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  opacity: 0.4;
  cursor: pointer;
}

.img__modal {
  width: 100%;
  transform: scale(1.2);
}

/* Presentation */

.product__page-presentation {
  width: 50rem;
  margin: 0 auto;
}

.product__page-presentation-S {
  position: relative;
}

.gallery-S {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
  margin-top: 1.4rem;
}

.gallery-slider-S {
  width: 40rem;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.gallery__img-S {
  width: 40rem;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  position: absolute;
}

.gallery-thumbnail-S {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.gallery-highlight {
  transform: scale(1.2);
}

.gallery__container {
  overflow: hidden;
  border-radius: 6px;
}

/* Information */

.product__page-information {
  margin: 0 auto;
  max-width: 70%;
}

.product__page-title {
  font-size: 6.4rem;
  line-height: 1;
  letter-spacing: -3px;
  color: var(--color-primary-darker);
  margin-bottom: 1rem;
}

.product__page-subtitle {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 3rem;
  color: var(--color-primary);
}

/* Review System */

.review__system-title {
  font-size: 2.8rem;
  color: var(--color-primary);
}

.review__content {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.stars {
  font-size: 3rem;
  display: flex;
  margin: 1rem 0;
}

.star {
  stroke: var(--color-primary);
  height: 3rem;
  cursor: pointer;
}

.review__ratings {
  font-size: 2.2rem;
  color: var(--color-primary-lighter);
}

/*  */

.product__page-price {
  font-size: 3.2rem;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--color-primary-darker);
}

.product__page-cta {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  row-gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.quantity__input {
  text-align: center;
  text-wrap: nowrap;
}

.cta-input {
  font-size: 2rem;
  height: 2.5rem;
  border: none;
  text-align: center;
}

.quantity__decrement,
.quantity__increment {
  padding: 0 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  cursor: pointer;
}
.quatity__number {
  width: 4rem;
  background-color: var(--color-ui-background);
}

.quantity__decrement {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.quantity__increment {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.cta-btn {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  padding: 0.5rem 0;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  outline: 1px solid var(--color-ui-background);
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.cta-btn:hover {
  background-color: var(--color-primary-darker);
}

.cta-btn:active {
  background-color: var(--color-primary-lighter);
}

.buy {
  grid-column: 1/-1;
}

.product__page-benefits {
  margin-top: 4rem;
  font-size: 2.4rem;
  list-style: none;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  outline: 4px solid var(--color-ui-background);
  padding: 2rem;
  border-radius: 9px;
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.2);
}

.product__page-benefits > li {
  margin-bottom: 1rem;
}

/* INFORMATION TABS */

.tabs__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.tab__item {
  border-right: none;
  border-bottom: 3px solid #333;
  transition: all 0.1s;
  border-radius: 3px;
}

.tab-active {
  border-bottom: 6px solid var(--color-primary);
}

.tab__item:hover {
  border-bottom: 6px solid var(--color-primary);
}

.tab__item:last-child {
}

.tab__btn {
  font-size: 2.4rem;
  background: none;
  padding: 1.6rem 4.2rem;
  border: none;
  cursor: pointer;
}
.tab__content {
  font-size: 1.8rem;
  padding: 3rem 2rem;
  line-height: 2.5;
}

section {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

footer {
  margin-top: 12rem;
}

/* MEDIA QUERIES - RESPONSIVENESS */

@media (max-width: 760px) {
  .product__page-presentation {
    max-width: 40rem;
  }
  .product__page-grid {
    grid-template-columns: 1fr;
  }
  .product__page-information {
  }
  .tabs__list {
    justify-content: center;
  }
}

/* RESPONSIVE */
/* 
Mobile: 0-576px
Small tablets / large phones: 576px
Tablet: 768px
Laptop: 992px
Large desktops: 1200px
*/

@media (min-width: 0) {
  .hero__heading {
    font-size: 2.4rem;
  }
  .hero__subheading {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .cta {
    font-size: 0.4rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.2rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  section {
    margin-top: 0;
  }
  .product__page-grid {
    margin: 0;
  }
  .product__page-layout {
    margin-top: 0;
  }

  .product__page-title {
    margin-top: 8rem;
  }
  /* .gallery-S {
    transform: scale(0.9);
  } */
  .gallery-slider-S {
    transform: scale(0.9);
  }

  .tabs__list {
    display: grid;
    text-align: left;
  }

  .slider__btn-left {
    transform: translate(20%, 30%) !important;
  }
  .slider__btn-right {
    transform: translate(-20%, 30%) !important;
  }

  .footer .container {
    width: 100%;
  }
  .footer__header {
    text-align: center;
  }
  .newsletter__input {
    margin-bottom: 2rem;
  }
  .section__header {
    padding: 5rem;
  }
  .section__main {
    padding: 2rem;
  }
  .about-us--text {
    width: 80%;
    margin: 0 auto;
  }
  .aligning {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .hero__heading {
    font-size: 2.8rem;
  }
  .hero__subheading {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .cta {
    font-size: 0.8rem;
    padding: 1.2rem 2.4rem;
    margin-top: 2rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.2rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .hero-2,
  .hero-3,
  .hero-img-2,
  .hero-img-3,
  .hero-img-side {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .hero {
    height: 100%;
    display: block;
  }
}

/* SEARCH BAR MOBILE RESPONSIVENESS */
@media (max-width: 768px) {
  .search__result-list {
    transform: scale(0.8);
    height: 50rem;
  }

  .search__product {
    transform: scale(0.8);
  }
}

@media (min-width: 768px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 3.8rem;
  }
  .hero__subheading {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 3rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.6rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .nav__bar {
    padding: 2rem 8rem 4rem 8rem;
  }
  .section__header-title {
    text-align: center;
  }

  .section__header-description {
    text-align: center;
  }

  .footer__header {
    justify-content: center;
  }
}

@media (min-width: 830px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 4.2rem;
  }
  .hero__subheading {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 4rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.6rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 928px) {
  .header__logo {
    width: 14rem;
  }
  .nav__bar {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 4.8rem;
  }
  .hero__subheading {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 4rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 8rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 4.8rem;
    line-height: 1.2;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    max-width: 100%;
  }
}

@media (min-width: 1300px) {
  .hero__heading {
    font-size: 6.4rem;
  }
  .hero__subheading {
    font-size: 2rem;
  }
  .cta {
    font-size: 1.2rem;
    padding: 1.4rem 2.8rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

    gap: 8rem;
    max-width: 130rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 4.8rem;
    line-height: 1.2;

    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    max-width: 100%;
  }
}

@media (max-width: 1600px) {
  .slider {
    transform: scale(0.8);
  }
}

.error {
  display: inline-block;
  padding: 2rem 2rem;

  border-radius: 4px;
  transition: all 1s;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.2);
}

.error__title {
  font-size: 1.8rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  backdrop-filter: blur(4px);
  transition: all 0.5s;
}

.modal {
  background-color: #fff;
  width: 50rem;

  border-radius: 12px;
  display: flex;
  flex-direction: column;

  border: none;
  outline: none;
  padding: 2rem 3rem;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: all 0.5s;
}

.contact__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__form input {
  width: 100%;

  border: none;
  border-bottom: 1px solid #333;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.contact__title {
  font-size: 3.2rem;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}

#message {
  flex: 1;

  padding: 2rem 3rem;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  border: none;
  width: 100%;
  height: 60%;
}

.contact__form > * {
  border: none;
  outline: none;
}

.close__modal {
  font-size: 3rem;
  text-align: right;
  cursor: pointer;
}

.contact__submit {
  margin-top: auto;
  height: 4rem;
  border-radius: 9px;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  cursor: pointer;
  padding: 0.8rem 0;
}

.modal__error {
  font-size: 2.6rem;
  color: red;
}

.form__ok {
  font-size: 2.6rem;
}
