/* HERO */

.hero {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr 1fr);
  gap: 3rem;
  margin: 0 auto;
  transition: all 1s;
}
.hero-img-main,
.hero-img-side {
  height: 100%;
  filter: brightness(0.8);
}

.hero-2 {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.hero-3 {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hero-img-1 {
  grid-column: 1/3;
  grid-row: 1 / 3;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  opacity: 0.9;
  z-index: 4;
  border-radius: 9px;
}
.hero-img-2 {
  width: 80%;
  position: relative;
  opacity: 0.9;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  z-index: 4;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.hero-img-3 {
  width: 80%;
  position: relative;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  opacity: 0.9;
  z-index: 4;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.text-shadow {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.hero__title-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero__subheading {
  font-size: 2.4rem;
  color: #f7fefe;
  letter-spacing: 2px;
  line-height: 1.6;

  margin-top: 4rem;
}

.cta {
  font-size: 1.4rem;
  background-color: var(--color-primary);
  color: #e3fafc;
  transition: background-color 0.3s;
  margin-top: 5rem;
  transition: all 1s;
}

.cta:hover {
  background-color: #50909e;
}
.hero__title-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__title-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BADGES */
.section__1 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e3fafc;
  padding: 4rem 4rem 4rem 4rem;
}
.badges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

/* .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 1rem; */
/* }  */

.badge-box {
  text-align: center;
  margin-bottom: 1.6rem;
}

.icon {
  width: 7rem;
  height: 7rem;
}

.icon-box {
  color: var(--color-primary);
}
.icon-card {
  color: var(--color-primary);
}

.icon-heart {
  color: var(--color-primary);
}

.icon-shield {
  color: var(--color-primary);
}

.badge__title {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: -0.35px;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-secondary);
  line-height: 1;
}

.badge__description {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  color: #333;
}
/* BESTSELLERS SECTION */

.container-L {
  max-width: 160rem;
  margin: 0 auto;
  padding: 2rem 10rem;
}

.section__2 {
  padding: 0;
  margin: 0;
}

.products {
  /* row-gap: 8rem;
  column-gap: 8rem; */
  overflow: hidden;
  position: relative;
  height: 80rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  position: relative;
  /* max-width: 150rem; */
  max-width: 130rem;
  margin: 0 auto;
}

.product {
  max-width: 40rem;

  cursor: pointer;
  border-radius: 9px;

  transition: all 1s;
}

.product-slider {
  position: absolute;
}

/* Review System */

.review__system-title {
  font-size: 2.8rem;
  color: var(--color-primary);
}

.review__content {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  margin-top: -2.2rem;
  gap: 1rem;
}

.stars {
  font-size: 3rem;
  display: flex;
  margin: 1rem 0;
}

.star {
  stroke: var(--color-primary);
  height: 2rem;
}

.review__ratings {
  font-size: 1.6rem;
  color: var(--color-primary-lighter);
}

/*  */

/*********************/
.product__img-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
.product__img {
  opacity: 1;
  max-width: 100%;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 300;
  transition: all 1s;
}

.product__img:hover {
  transform: scale(1.2);
}

.product__title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  color: var(--color-primary);
  letter-spacing: 0.8px;
  margin-bottom: 2rem;
}

.product__material-title {
  font-size: 2.8rem;
  color: var(--color-primary);
}
.product__material {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding: 0 2rem;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: var(--color-primary-lighter);
}

.product__information {
  padding: 3.2rem;
  cursor: auto;
}

.product__price {
  font-size: 2.4rem;
  font-weight: 500;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  text-align: center;
  border-radius: 9px;
  cursor: pointer;
  letter-spacing: 1.6px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.product__price:hover {
  background-color: var(--color-primary-darker);
}
.product__price:active {
  background-color: var(--color-primary-lighter);
}

/* CATEGORIES */

.section__3 {
  padding-top: 12.8rem;
}

.category {
  max-width: 40rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;

  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.category__information {
  /* background-color: rgba(0, 0, 0, 0.35); */
  background: linear-gradient(to top, #000, 1%, rgba(0, 0, 0, 0.35));
  backdrop-filter: blur(3px);
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;
  transition: all 1s;
}

.category__title {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  color: #fff;
  font-size: 3rem;
}

/* ABOUT US SECTION */

.section__4 {
  padding-bottom: 9.6rem;
}

/* .about-us { */
/* grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr)); */
/* grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  max-width: 160rem;
  margin: 0 auto; */
/* }  */

.about-us {
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 9.6rem;
  /* max-width: 160rem; */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.about-us--title {
  font-size: 6.4rem;
  text-align: center;
  justify-content: center;
  line-height: 1;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
  color: #64b4c5;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.about-us--description {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #0a0a0a;
}

.about-us > * {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
}

.about-us--text {
  /* flex-direction: column; */
  /* max-width: 100%; */
}

.about-us--img {
  /* width: 70rem; */
}

/* NEWSLETTER*/

/* RESPONSIVE */
/* 
Mobile: 0-576px
Small tablets / large phones: 576px
Tablet: 768px
Laptop: 992px
Large desktops: 1200px
*/
/* 
@media (min-width: 0) {
  .hero__heading {
    font-size: 2.4rem;
  }
  .hero__subheading {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .cta {
    font-size: 0.4rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.2rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .dots {
    transform: translate(-50%, 10%) scale(0.8);
  }
  .footer .container {
    width: 100%;
  }
  .footer__header {
    text-align: center;
  }

  .newsletter__input {
    margin-bottom: 2rem;
  }
  .section__header {
    padding: 5rem;
  }
  .section__main {
    padding: 2rem;
  }
  .about-us--text {
    width: 80%;
    margin: 0 auto;
  }
  .aligning {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .hero__heading {
    font-size: 2.8rem;
  }
  .hero__subheading {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .cta {
    font-size: 0.8rem;
    padding: 1.2rem 2.4rem;
    margin-top: 2rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.2rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .hero-2,
  .hero-3,
  .hero-img-2,
  .hero-img-3,
  .hero-img-side {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .hero {
    height: 100%;
    display: block;
  }
}

/* SEARCH BAR MOBILE RESPONSIVENESS */
/*
@media (max-width: 768px) {
  .search__result-list {
    transform: scale(0.8);
    height: 50rem;
  }

  .search__product {
    transform: scale(0.8);
  }
}

@media (min-width: 768px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 3.8rem;
  }
  .hero__subheading {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 3rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.6rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .nav__bar {
    padding: 2rem 8rem 4rem 8rem;
  }
  .section__header-title {
    text-align: center;
  }

  .section__header-description {
    text-align: center;
  }

  .footer__header {
    justify-content: center;
  }
}

@media (min-width: 830px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 4.2rem;
  }
  .hero__subheading {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 4rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.6rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 928px) {
  .header__logo {
    width: 14rem;
  }
  .nav__bar {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 4.8rem;
  }
  .hero__subheading {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 4rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 8rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 4.8rem;
    line-height: 1.2;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    max-width: 100%;
  }
}

@media (min-width: 1300px) {
  .hero__heading {
    font-size: 6.4rem;
  }
  .hero__subheading {
    font-size: 2rem;
  }
  .cta {
    font-size: 1.2rem;
    padding: 1.4rem 2.8rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

    gap: 8rem;
    max-width: 130rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 4.8rem;
    line-height: 1.2;

    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    max-width: 100%;
  }
}

@media (max-width: 1600px) {
  .slider {
    transform: scale(0.8);
  }
} */
