/* GENERAL STYLIING */

:root {
  --color-primary: #64b4c5;
  --color-primary-darker: #50909e;
  --color-primary-lighter: #93cbd6;
  --color-secondary: #0a0a0a;
  --color-tertiary: #ffd60a;
  --color-background: #fafff7;
  --color-ui-background: #e3fafc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  line-height: 1.9;
  transition: all 1s;
}
h1 {
  font-weight: 6rem;
}
p {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--color-secondary);
  transition: all 1s;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.img {
  width: 100%;
  opacity: 0.8;
  border-radius: 6px;
}

.section {
  margin: 12rem 0;
}

.section__header {
  padding: 2rem 20rem 2rem 20rem;
  background-color: #e3fafc;
}

.section__header-title {
  font-size: 5.4rem;
  color: var(--color-primary-darker);
  font-weight: 700;
  line-height: 1;
}

.section__header-description {
  font-size: 1.4rem;
  letter-spacing: 0.7px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 1;
}

.section__main {
  padding: 8rem 8rem 4rem 8rem;
}

.shadow {
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.3);
}

.aligning {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
}

.autofit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
  align-items: center;
}

.autofit-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 14rem;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  cursor: pointer;
}

.fade {
  opacity: 0;
  transform: translateY(8rem);
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(8rem);
}

.text-in {
  transform: translateY(-4rem);
  height: 0;
  opacity: 0;
}

.nav__handler {
  position: fixed;
  top: 3rem;
  left: 3rem;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  z-index: 101;
  border-radius: 20px;
  font-size: 1.8rem;
  padding: 1.5rem 2.4rem;
  opacity: 0.9;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}

.nav__hide {
  transform: translateY(-20rem);
  opacity: 0;
  height: 0px;
  visibility: hidden;
}

.nav__fixed {
  position: fixed;

  top: 0;
  z-index: 100;
  background: linear-gradient(#f4f4f5, #fafafa, #f4f4f5);
  width: 100%;
}

/* HEADER */

.nav__bar {
  padding: 2rem 8rem 2rem 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;

  max-width: 100%;
  transition: all 1s;
  margin: 0 auto;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.nav__item {
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--color-ui-background);
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1.2rem 2.8rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-ui-background);
  background-color: var(--color-primary-darker);
}

.logo {
  width: 8rem;
  cursor: pointer;
}

.header {
  background: linear-gradient(#f4f4f5, #fafafa, #f4f4f5);
  padding-bottom: 4.8rem;
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.hero {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr 1fr);
  gap: 3rem;
  margin: 0 auto;
  transition: all 1s;
}
.hero-img-main {
  height: 100%;
}
.hero-img-side {
  height: 100%;
}

.hero-2 {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.hero-3 {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hero-img-1 {
  grid-column: 1/3;
  grid-row: 1 / 3;
  position: relative;

  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  opacity: 0.9;
  z-index: 4;
  border-radius: 9px;
}
.hero-img-2 {
  width: 80%;
  position: relative;
  opacity: 0.9;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  z-index: 4;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.hero-img-3 {
  width: 80%;
  position: relative;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  opacity: 0.9;
  z-index: 4;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.text-shadow {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.hero__title-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero__title {
  font-size: 6rem;
  color: #f7fefe;
  z-index: 10;
}
.hero__heading {
  color: #fff;
  z-index: 10;
  font-size: 8rem;
  line-height: 0.9;
}
.hero__subheading {
  font-size: 2.4rem;
  color: #f7fefe;
  letter-spacing: 1.5px;
  margin-top: 4rem;
}

.cta {
  font-size: 1.4rem;
  background-color: var(--color-primary);
  color: #e3fafc;
  transition: background-color 0.3s;
  margin-top: 5rem;
  transition: all 1s;
}

.cta:hover {
  background-color: #50909e;
}
.hero__title-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__title-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BADGES */
.section__1 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e3fafc;
  padding: 4rem 4rem 4rem 4rem;
}
.badges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.icon {
  width: 7rem;
  height: 7rem;
}

.icon-box {
  color: var(--color-primary);
}
.icon-card {
  color: var(--color-primary);
}

.icon-heart {
  color: var(--color-primary);
}

.icon-shield {
  color: var(--color-primary);
}

.badge__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.badge__description {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: center;
  color: #555;
}
/* BESTSELLERS SECTION */

.products {
  row-gap: 8rem;
  column-gap: 8rem;
}

.product {
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.2);
  max-width: 40rem;
  cursor: pointer;
  border-radius: 9px;
}
.product__img-container {
  overflow: hidden;
  height: 30rem;
}
.product__img {
  opacity: 1;
  max-width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 1s;
}

.product__img:hover {
  transform: scale(1.2);
}

.product__title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  color: var(--color-primary);
  letter-spacing: 0.8px;
  margin-bottom: 2rem;
}

.product__material-title {
  font-size: 2.8rem;
  color: var(--color-primary-lighter);
}
.product__material {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.product__information {
  padding: 3.2rem;
  cursor: auto;
}

.product__price {
  font-size: 2.4rem;
  font-weight: 500;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  text-align: center;
  border-radius: 9px;
  cursor: pointer;
  letter-spacing: 1.6px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.product__price:hover {
  background-color: var(--color-primary-darker);
}
.product__price:active {
  background-color: var(--color-primary-lighter);
}

/* CATEGORIES */

.category {
  max-width: 40rem;

  position: relative;
  cursor: pointer;
}

.category__information {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;
  transition: all 1s;
}

.category__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-size: 3rem;
}

/* ABOUT US SECTION */

.about-us {
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 12rem;
  max-width: 160rem;
  margin: 0 auto;
}

.about-us--title {
  font-size: 6.4rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
  color: #64b4c5;
}

.about-us--description {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #0a0a0a;
}

.about-us > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-us--text {
  flex-direction: column;
}

.about-us--img {
  width: 70rem;
}

/* NEWSLETTER*/

/* FOOTER */

.footer {
  max-width: 100%;

  background: linear-gradient(to top left, #e6e6e6, #fff, #e6e6e6);
}

.footer__header {
  padding: 8rem 2rem 2rem 2rem;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 20rem;
}

.newsletter__box {
  justify-self: center;
}

.newsletter__title {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  color: #64b4c5;
}

.newsletter__input {
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  border: none;
  background-color: #e3fafc;
  color: #cfc7bd;
  font-size: 1.4rem;
}

.newsletter__submit {
  margin-left: 2rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  cursor: pointer;
  transition: all 0.3s;
}

.newsletter__submit:hover {
  background-color: var(--color-primary-darker);
  color: var(--color-ui-background);
}

.footer__links {
  padding: 6rem 2rem 8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 30rem;
}

.footer__list-title {
  font-size: 2.8rem;
  font-weight: 500;
  color: #64b4c5;
}

.footer__list-item {
  font-size: 1.4rem;
  cursor: pointer;
}

/* RESPONSIVE */
/* 
Mobile: 0-576px
Small tablets / large phones: 576px
Tablet: 768px
Laptop: 992px
Large desktops: 1200px
*/

@media (min-width: 0) {
  .hero__heading {
    font-size: 2.4rem;
  }
  .hero__subheading {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .cta {
    font-size: 0.4rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.2rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .footer .container {
    width: 100%;
  }
  .section__header {
    padding: 5rem;
    width: 52rem;
  }
}

@media (min-width: 576px) {
  .hero__heading {
    font-size: 2.8rem;
  }
  .hero__subheading {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .cta {
    font-size: 0.8rem;
    padding: 1.2rem 2.4rem;
    margin-top: 2rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.2rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .hero-2,
  .hero-3,
  .hero-img-2,
  .hero-img-3,
  .hero-img-side {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .hero {
    height: 100%;
    display: block;
  }
}

@media (min-width: 768px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 3.8rem;
  }
  .hero__subheading {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 3rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.6rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .nav__bar {
    padding: 2rem 8rem 4rem 8rem;
  }
  .section__header-title {
    text-align: center;
  }

  .section__header-description {
    text-align: center;
  }

  .footer__header {
    justify-content: center;
  }
}

@media (min-width: 830px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 4.2rem;
  }
  .hero__subheading {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 4rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 3.6rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    width: 100%;
  }
}

@media (max-width: 928px) {
  .header__logo {
    width: 14rem;
  }
  .nav__bar {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .hero__heading,
  .hero__title-2,
  .hero__title-3 {
    font-size: 4.8rem;
  }
  .hero__subheading {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
  .cta {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
    margin-top: 4rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 8rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 4.8rem;
    line-height: 1.2;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    max-width: 100%;
  }
}

@media (min-width: 1300px) {
  .hero__heading {
    font-size: 6.4rem;
  }
  .hero__subheading {
    font-size: 2rem;
  }
  .cta {
    font-size: 1.2rem;
    padding: 1.4rem 2.8rem;
  }

  .about-us {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

    gap: 8rem;
    max-width: 130rem;
    margin: 0 auto;
  }

  .about-us--title {
    font-size: 4.8rem;
    line-height: 1.2;

    margin-bottom: 3rem;
    color: #64b4c5;
  }

  .about-us--description {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0a0a0a;
  }

  .about-us--img {
    max-width: 100%;
  }
}

.error {
  display: inline-block;
  padding: 2rem 2rem;

  border-radius: 4px;
  transition: all 1s;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.2);
}

.error__title {
  font-size: 1.8rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  backdrop-filter: blur(4px);
  transition: all 0.5s;
}

.modal {
  background-color: #fff;
  width: 50rem;

  border-radius: 12px;
  display: flex;
  flex-direction: column;

  border: none;
  outline: none;
  padding: 2rem 3rem;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: all 0.5s;
}

.contact__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__form input {
  width: 100%;

  border: none;
  border-bottom: 1px solid #333;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.contact__title {
  font-size: 3.2rem;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}

#message {
  flex: 1;

  padding: 2rem 3rem;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  border: none;
  width: 100%;
  height: 60%;
}

.contact__form > * {
  border: none;
  outline: none;
}

.close__modal {
  font-size: 3rem;
  text-align: right;
  cursor: pointer;
}

.contact__submit {
  margin-top: auto;
  height: 4rem;
  border-radius: 9px;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-ui-background);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  cursor: pointer;
  padding: 0.8rem 0;
}

.modal__error {
  font-size: 2.6rem;
  color: red;
}

.form__ok {
  font-size: 2.6rem;
}
